.container {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .col-md-8 {
    margin-right: 15px;
  }
  
  .col-md-4 {
    margin-left: 15px;
  }
  .col-md-4 img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
  
  